.secondSection {
  ul {
    height: 56px;
    display: flex;
    align-content: center; // 居中
    justify-content: space-around; // 让li均匀

    li {
      list-style: none;
      color: white;

    }
  }



  // tab content
  section {
    padding: 16px;

    h2 {
      color: white;
    }

    img {
      margin-top: 16px;
      width: 100%;
      border-radius: 6px;
    }
  }
}